* {
	box-sizing: border-box;
	font-family: Georgia, serif;
}
html {
	height:100%;
	min-width:333px;
}
body {
	height:100%;
}
html, body {
	margin:0;

}
header h1 { margin:0; padding: 10px; }
.content { min-height: 100%; }
.body { padding: 60px 10px; padding-bottom: 70px; }
.absolute-center {
	top: 50%;
	right: 0;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}
footer {
	position: relative;
	color:#eee;
	background-color: #000;
	height:70px;
	margin-top: -70px;
	padding:8px;
	font-size: 14px;
}
footer > div { width: 100%; padding:8px; }
.loader:before {
	content: "";
	position: absolute;
	display: block;
	background: rgba(0,0,0,.1);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.loader:after {
	position: absolute;
	left:50%;
	top:50%;
	content:"";
	display: inline-block;
	width:20px;
	height:20px;
	border:6px solid rgba(0,0,0,0);
	border-top:6px solid #07c;
	border-bottom: 6px solid #07c;
	border-radius:50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	100% { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[name=ccy-input-one], input[name=ccy-input-two], select {
	width:100%;
	padding:6px;
	border:1px solid #ccc;
}
input[name=ccy-input-one], input[name=ccy-input-two] {
	padding-left: 12px;
	font-size:30px;
	appearance: none;
}
select {
	padding: 6px 4px;
}
header {
	padding: 20px;
	background-color: #000;
}
h1 { 
	text-align: center;
	color:#fff;
}
.ccy-container {
	position: relative;
}
.ccy-container > select {
	margin-top: -1px;
	color:#37f;
}
#ccy-direction {
	display: block;
	color:#5F5F5F;
	font-weight: 900;
	background-color:#fff;
	height:1em;
	text-align: center;
	line-height: 1em;
	margin: 15px 0;
	cursor: default;
	position: relative;
}
#ccy-direction:after {
	font-size: 20pt;
	content: "\279C";
	display: block;
}
#ccy-direction.up:after {
	transform: rotate(-90deg);
}
#ccy-direction.down:after {
	transform: rotate(90deg);
}
#ccy-meta { display:none; }
.note {
	border-left: 4px solid;
	padding: 4px;
	padding-left: 6px;
	margin: 8px 0;
	display: block;
}
.note.red {
	background-color: rgba(255,0,0,.2);
	border-left-color: rgba(255,0,0,.7);
}
.note.green {
	background-color: rgba(0,255,80,.2);
	border-left-color: rgba(0,255,80,.7);
}
.note.blue {
	background-color: rgba(196, 230, 255, 0.29);
	border-left-color: rgba(94, 137, 161, 0.4);
}
.highlighted {
	background-color: #CCFFDC;
	transition: .5s;
}
.ccy-cntry-info {
	margin:0;
	height:80px;
	overflow: auto;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 8pt;
}
.ccy-cntry-info > strong { 
	font-variant: small-caps;
}