form[name=ccy-form] {
	display:flex;
	width:100%;
	flex-flow: row wrap;
}
.ccy-container { width:45%; }
#ccy-direction { margin: auto; }
#ccy-direction.up:after {
	transform: rotate(180deg);
}
#ccy-direction.down:after {
	transform: rotate(0deg);
}
.note { width:100%; }