* {
	box-sizing: border-box;
	font-family: Georgia, serif;
}
html {
	height:100%;
}
body {
	height:100%;
}
html, body {
	margin:0;

}
header h1 { margin:0; padding: 10px; }
.content { min-height: 100%; }
.body { padding: 30px 10px 10px; padding-bottom: 70px; }
footer {
	color:#eee;
	background-color: #000;
	height:70px;
	margin-top: -70px;
	padding:8px;
}
.loader:before {
	content: "";
	position: absolute;
	display: block;
	background: rgba(0,0,0,.1);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
}
.loader:after {
	position: absolute;
	left:50%;
	top:50%;
	content:"";
	display: inline-block;
	width:20px;
	height:20px;
	border:6px solid #ddd;
	border-top:6px solid #07c;
	border-bottom: 6px solid #07c;
	border-radius:50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	100% { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}
input[name=ccy-input-one], input[name=ccy-input-two], select {
	width:100%;
	padding:4px;
	border:1px solid #ccc;
}
input[name=ccy-input-one], input[name=ccy-input-two] {
	border-radius: 3px 3px 0 0;
	padding-left: 8px;
	font-size:15pt;
}
h1 { 
	text-align: center; 
	font-variant: small-caps;
	background-color:#000;
	color:#fff;
}
.ccy-container {
	border-radius:3px;
	position: relative;
}
.ccy-container > select {
	margin-top: -1px;
	color:#37f;
}
#ccy-direction {
	display: block;
	color:#f50;
	font-weight: 900;
	background-color:#fff;
	height:1em;
	text-align: center;
	line-height: 1em;
	margin: 5px 0;
	cursor: default;
	position: relative;
}
#ccy-direction:after {
	font-size: 20pt;
}
#ccy-direction.up:after {
	content: "⇧"
}
#ccy-direction.down:after {
	content: "⇩"
}
#ccy-meta { display:none; }
footer > p {
	color:gray;
	font-size:.7em;
}
.note {
	border-left: 4px solid;
	padding: 4px;
	padding-left: 6px;
	margin: 4px 0;
	display: block;
}
.note.red {
	background-color: rgba(255,0,0,.2);
	border-left-color: rgba(255,0,0,.7);
}
.note.green {
	background-color: rgba(0,255,80,.2);
	border-left-color: rgba(0,255,80,.7);
}
.note.blue {
	background-color: rgba(0,20,70,.2);
	border-left-color: rgba(0,20,70,.7);
}
.highlighted {
	background-color: rgba(255,180,0,.5);
	transition: .5s;
}
.ccy-cntry-info {
	margin-top:0;
	height:80px;
	overflow: auto;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 8pt;
}
.ccy-cntry-info > strong { 
	font-variant: small-caps;
}